In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## What is the difference between the functions loc and iloc in pandas.DataFrame?

In [11]:
#Loc - is label based data selecting method which means that we have to pass the name of the row or column which we want to select.
#iloc - is integer based data selection method, we have the index of row or column to select the data

## Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [18]:
new_index=[3,0,1,2]
new_df = df.reindex(new_index)

In [22]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [28]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [32]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [34]:
# yes theer is a difference in the output the loc displays the result as per the name of the index column and iloc displays as per the index that is generated by an array

In [37]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [41]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.483338  0.748489  0.905638  0.900378  0.948760  0.253198
2  0.477798  0.997599  0.853272  0.369669  0.400103  0.565263
3  0.302535  0.390086  0.667502  0.113127  0.069039  0.378326
4  0.553864  0.742409  0.995044  0.770583  0.345985  0.410396
5  0.511805  0.181940  0.765772  0.427432  0.919141  0.750720
6  0.142849  0.271613  0.335763  0.505252  0.091246  0.406344

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [65]:
# decribe function will display the mean of all the rows and std
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.412031  0.555356  0.753832  0.514407  0.462379  0.460708
std    0.157436  0.320977  0.233878  0.284332  0.388608  0.173420
min    0.142849  0.181940  0.335763  0.113127  0.069039  0.253198
25%    0.346350  0.301231  0.692069  0.384109  0.154931  0.385331
50%    0.480568  0.566247  0.809522  0.466342  0.373044  0.408370
75%    0.504688  0.746969  0.892547  0.704250  0.789381  0.526547
max    0.553864  0.997599  0.995044  0.900378  0.948760  0.750720

## Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why.

In [73]:
df1["column_2"][1] = "Hoomeid"

In [80]:
df1["column_2"].mean()

TypeError: can only concatenate str (not "float") to str

In [84]:
# the error is generated beacuse string and interger can be combined to calculate mean of column_2

## What do you understand about the windows function in pandas and list the types of windows functions?

In [92]:
# an operation that performs an aggregation over a sliding partition of values.
# Different types of window functions are rolling, weighted and expanding

## Write a code to print only the current month and year at the time of answering this question.

In [117]:
# Gives the current date month and year while working
pd.Timestamp.now()

Timestamp('2024-05-05 14:22:36.145831')

# Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [123]:
date1 = input("Enter the date1 in YYYY_MM_DD")
date2 = input("Enter the date2 in YYYY_MM_DD")

pd.timedelta_range

Enter the date in YYYY_MM_DD 2024-05-05
Enter the date in YYYY_MM_DD 2024-05-10